.button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease-in;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    opacity: 0.5;
  }
}
