.container {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0 var(--layout-padding-desktop);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.3rem;
  opacity: 0.8;
}

.nav {
  flex: 1;
}

nav .list {
  display: flex;
  justify-content: space-evenly;
}

.legal {
  font-size: 1rem;
}

/* 📌 mobile && tablet */
@media (max-width: 1120px) {
  .container {
    padding: 0rem var(--layout-padding-mobile);
  }

  .title {
    font-size: 1.25rem;
  }
}

/* 📌 mobile */
@media (max-width: 700px) {
  .nav {
    flex: unset;
  }
}
