.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 666;
  transition: left 1s;
}

.open {
  left: 0;
}

.container {
  width: 30rem;
  height: 100%;
  padding: 2rem 2rem 2rem 1.5rem;
  background: var(--menu-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  box-shadow: 4px 0 4px 0 color-mix(in srgb, #000 25%, transparent);
}

button.close {
  align-self: flex-end;
}

/* 📌 mobile */

@media (max-width: 700px) {
  .container {
    max-width: 95%;
  }
}
