.page-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  user-select: none;
}

.title {
  text-transform: lowercase;
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}

.pill {
  width: fit-content;
  height: 1.75rem;
  padding: 0 0.75rem;
  display: inline-flex;
  align-items: center;
  border-radius: 0.9rem;
  background: color-mix(in srgb, var(--accent-dark) 30%, var(--bg-color));
  font-family: var(--font-work_sans);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--fg-color);
  user-select: none;
  margin-bottom: 1rem;
}

.active-pill {
  background: var(--accent-dark);
  color: var(--light-color);
  font-weight: 500;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.options-container {
  min-width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.option-label {
  font-size: 1rem;
}

.image-container {
  width: 21rem;
  height: 21rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  background: color-mix(in srgb, var(--accent-dark) 20%, var(--bg-color));
}

.flashcard-image {
  filter: var(--image-filter);
}

.image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: color-mix(in srgb, var(--accent-dark) 15%, transparent);
}

.flashcard-button {
  height: 3rem;
  min-width: 10rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  font-family: var(--font-outfit);
  color: var(--light-color);
}

@media (hover: hover) and (pointer: fine) {
  .pill:hover {
    background: var(--accent-dark);
    color: var(--light-color);
    cursor: pointer;
  }
}
