@import '~@flaticon/flaticon-uicons/css/all/all';

:root {
  color-scheme: light;

  --dark-color: #191c29;
  --light-color: #ede5e6;
  --accent-color: #663399; /* rebeccapurple */
  --accent-light: #8797af;
  --accent-dark: #4964b3;

  --sucess: #548a67;
  --warning: #d27a2f;
  --danger: #f44336;

  --layout-padding-desktop: 10%;
  --layout-padding-mobile: 5%;
  --icon-size-default: 1.25rem;

  --bg-color: var(--light-color);
  --fg-color: var(--dark-color);
  --accent-bg-contrast: var(--accent-dark);
  --accent-fg-contrast: var(--accent-light);

  --menu-bg: color-mix(in srgb, var(--accent-color) 25%, var(--bg-color));
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --bg-color: var(--dark-color);
  --fg-color: var(--light-color);
  --accent-bg-contrast: var(--accent-light);
  --accent-fg-contrast: var(--accent-dark);
}

html * {
  outline: none;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  transition: background 200ms;
}

button,
input,
textarea,
ul,
a {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  appearance: none;
  list-style: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
button {
  cursor: pointer;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-worksans);
  font-size: 1.125rem;
  font-weight: 400;
  overflow: auto;
  overflow-x: hidden;
}

.layout-container {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.child-container {
  flex: 1;
  width: 100%;
  margin: 3.5rem 0;
  padding: 0 var(--layout-padding-desktop);
}

h1,
h2,
h3 {
  font-family: var(--font-outfit);
  user-select: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  opacity: 0.8;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.6;
}

a {
  font-family: var(--font-outfit);
  color: var(--accent-bg-contrast);
}

p.default {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.title {
  font-family: var(--font-outfit);
  font-weight: 200;
}

.title span {
  font-weight: 400;
}

.icon-container {
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  font-size: var(--icon-size-default);
}

.icon-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease-in;
}

.disabled-button {
  opacity: 0.5;
  cursor: default;
  transition: opacity 1s;
}

.clippable {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
}

/* 📌 @media */

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }

  .icon-button:hover {
    opacity: 0.5;
  }
}

/* 📌 mobile && tablet */
@media (max-width: 1120px) {
  .child-container {
    padding: 0 var(--layout-padding-mobile);
  }
}

/* 📌 mobile */
@media (max-width: 700px) {
  .child-container {
    margin: 2rem 0 2.5rem 0;
  }
}

/* 📌 tablet */
@media (min-width: 701px) and (max-width: 1120px) {
}
