.container {
  width: 100%;
  padding: 1rem var(--layout-padding-desktop);
  background: var(--accent-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.title {
  flex: 1;
  font-family: var(--font-outfit);
  font-weight: 200;
}

.title span {
  font-weight: 400;
}

@media (max-width: 1120px) {
  .container {
    padding: 1rem var(--layout-padding-mobile);
  }
}
